<% layout('layout') -%>
<h1><%= title %></h1>
<div class="form-group">
    <label for="customerName">Name</label>
    <input  class="form-control"  type="text" id="customerName" data-bind="value: customer_name">
</div>
<div class="form-group">
    <label for="address">Address</label>
    <input  class="form-control"  type="text" id="address" data-bind="value: address">
</div>
<div class="form-group">
    <label for="phone">Phone</label>
    <input  class="form-control"  type="text" id="phone" data-bind="value: phone">
</div>
<div class="container">
    <input class="btn btn-primary" type="button" value="Save" data-bind="click: save"/>
</div>

<script type="application/javascript">
    $(document).ready(function () {
        ko.applyBindings(custVM({
            id: "<%= customer.id %>",
            name: "<%= customer.name %>",
            address: "<%= customer.address %>",
            phone: "<%= customer.phone %>"
        }));
    });

    var custVM = function (customer) {
        var self = this;
        self.customer_name = ko.observable(customer.name),
                self.address = ko.observable(customer.address),
                self.phone =ko.observable(customer.phone),
                self.id =ko.observable(customer.id),
                self.save = function () {
                        $.post('update',
                        {
                            id:self.id,
                            name: self.customer_name(),
                            address: self.address(),
                            phone: self.phone()
                        });

                };
        return self;
    };
</script>