<% layout('layout') -%>
<h1><%= title %></h1>
<% include templates/customer/details.ejs%>


<script type="application/javascript">
    $(document).ready(function () {
        ko.applyBindings(custVM({
            id: "<%= customer.id %>",
            name: "<%= customer.name %>",
            address: "<%= customer.address %>",
            phone: "<%= customer.phone %>"
        }));
    });

    var custVM = function (customer) {
        var self = this;
        self.customer_name = ko.observable(customer.name),
                self.address = ko.observable(customer.address),
                self.phone =ko.observable(customer.phone),
                self.id =ko.observable(customer.id),
                self.save = function () {
                        $.post('update',
                        {
                            id:self.id,
                            name: self.customer_name(),
                            address: self.address(),
                            phone: self.phone()
                        });

                };
        return self;
    };
</script>