<% layout('layout') -%>
<h1><%= title %></h1>
<table id="customerTable">
    <tr>
        <td>Name</td>
        <td><input type="text" id="name" data-bind="value: customer_name"></input></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" id="address" data-bind="value: address"></input></td>
    </tr>
    <tr>
        <td>phone</td>
        <td><input type="text" id="phone" data-bind="value: phone"></input></td>
    </tr>
    <tfoot>
    <tr>
        <td>
            <input type="button" value="Save" data-bind="click: save"/>
        </td>
    </tr>
    </tfoot>
</table>

<script type="application/javascript">
    $(document).ready(function () {
        ko.applyBindings(custVM({
            id: "<%= customer.id %>",
            name: "<%= customer.name %>",
            address: "<%= customer.address %>",
            phone: "<%= customer.phone %>"
        }));
    });

    var custVM = function (customer) {
        var self = this;
        self.customer_name = ko.observable(customer.name),
                self.address = ko.observable(customer.address),
                self.phone =ko.observable(customer.phone),
                self.id =ko.observable(customer.id),
                self.save = function () {
                        $.post('update',
                        {
                            id:self.id,
                            name: self.customer_name(),
                            address: self.address(),
                            phone: self.phone()
                        });

                };
        return self;
    };
</script>